version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    volumes:
      - "./devops/nginx:/etc/nginx/conf.d:ro"
    ports:
      - "80:80"
      - "443:443"
      
  cpo:
    image: "${AWS_REPOSITORY_URL}:${IMAGE_TAG}"
    container_name: cpo_simulation
    restart: always
    volumes:
       - ./cpo.db:/home/node/app/cpo.db
    env_file:
      - .env_cpo
    command: ["./wait-for-node.sh", "--cpo"]

  # msp:
  #   image: "${AWS_REPOSITORY_URL}:${IMAGE_TAG}"
  #   container_name: msp_simulation
  #   restart: always
  #   volumes:
  #      - ./msp.db:/home/node/app/msp.db
  #   env_file:
  #     - .env_msp
  #   command: ["./wait-for-node.sh", "--msp"]
